<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DbConnection"
      connectionString="Data Source=localhost,1433;Initial Catalog=AppSingleton;User ID=sa;Password=Local@123456789;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
